body{
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Arvo', serif;
}

*{
    -webkit-transition:all .55s ;
    -moz-transition:all .55s ;
    -o-transition:all .55s ;
}

ul{
    padding: 0;
    margin: 0;
}

/*########################################### ===> SECTION HEADER START <===== ######### */

.header header  {
    overflow: hidden;
    clear: both;
}

.header{
    margin: 30px 0;
}

.header header{
    width: 80%;
    margin: 0 auto;
}

.header header  .logo-img{
    float: left;
}

.ham-img{
    display: none;
}

.menu-for-ham{
    display: none;
}

.menu-for-ham li ul{
    display: none;
}

.header .nave-head .normal-menu {
    float: right;
    margin:5px 0 0 0;
    padding: 0;
}

.header .nave-head .normal-menu li{
    list-style: none;
    float: left;
    margin-left: 50px;
}


.header .nave-head .normal-menu li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-family: 'Arvo', serif;
    font-size: 1em;
}

/*########################################### ===> SECTION tow-main-imags <===== ######### */

.tow-main-imags{
    width: 100%;
    margin: 0 auto;
}
.tow-main-imags #img1{
    width: 100%;
}

.tow-main-imags #img2{
    display: block;
    margin: 0 auto;
}

/*########################################### ===> SECTION THE MENU <===== ######### */

.the-menu{
    width: 80%;
    overflow: hidden;
    margin:70px auto 130px auto;

}

.the-menu .left{
    float: left;
    width: 45%;
    overflow: hidden;
    margin:0 auto;
    padding: 0;

}

.the-menu .right{
    float: right;
    width: 45%;
    overflow: hidden;
    margin:0 ;
    padding: 0;
}

.main-dinner{
    background-image: url("../img/line.png");
    overflow: hidden;
    clear: both;

}

.the-menu .right .main-dinner p , .the-menu .left .main-dinner .menu-dinner{
    float: left;
    padding: 0;
    margin:0 ;
    overflow: hidden;
    clear: both;
    color: rgba(0,0,0,0.7);
    font-size: 1.3em;
    background-color: #fff;
}


.the-menu .right .main-dinner span , .the-menu .left .main-dinner span{
    float: right;
    padding: 0;
    margin:0 ;
    color: rgba(0,0,0,0.7);
    font-size: 1.3em;
    overflow: hidden;
    background-color: #fff;
}

.main-dinner-desc p{
    float: left;
    padding: 0;
    margin:0 ;
    overflow: hidden;
    clear: both;
    margin-bottom: 40px;
    color: rgba(0,0,0,0.4);
    font-size: 0.9em;
}

/*########################################### ===> SECTION FEATURED DISHES <===== ######### */

.featured-dishes-title:after , .the-gallery-title:after{
    content: '';
    border-bottom: solid;
    width: 10em;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
    color: rgba(0,0,0,0.18);
}

.featured-dishes-title{
    margin-bottom: 70px;
}

.featured-dishes{
    width: 80%;
    margin: 30px auto 130px auto;
    overflow: hidden;
}

.featured-dishes > div{
    display: flex;
    justify-content: space-between;
}

.featured-dishes div div{
    display: inline-block;
    width: 24%;
}

.featured-dishes div div img{
    display: block;
    width: 100%;
    margin-bottom: 8px;
}


.featured-dishes > div > div >span {
    font-size: 0.85em;
    float: left;
}

.featured-dishes > div > div > span + span {
    float: right;
    font-size: 0.85em;
}

.featured-dishes > div > div > div {
    display: none;
}

/*########################################### ===> SECTION THE GALLERY <===== ######### */

.the-gallery{
    width: 80%;
    margin: 0 auto;
}

.the-gallery .the-gallery-title{
    margin-bottom: 70px;
}

.the-gallery .the-gallery-div{
    overflow: hidden;
    clear: both;
}

.the-gallery .the-gallery-div img{
    width: 30%;
    height: 200px;
    float: left;
}

.the-gallery .the-gallery-div  #gallery-img1{
    width: 40%;
    height: 400px;
}

/*########################################### ===> SECTION THE FOOTER <===== ######### */

footer {
    margin-top: 200px;
    background-color: #3b3b3b;
    color: #fff;
    padding: 70px 10%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

footer div {
    float: left;
}

footer .footer-logo-ul{
    float: right;
}

footer div ul li{
    list-style: none;
    color: #9e9d9d;
    font-size: 0.9em;
    padding: 5px 0;
}

footer div ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
}





