body{
    font-size: 12px;
}

/*########################################### ===> SECTION HEADER START <===== ######### */

.header .nave-head .normal-menu {
    display: none;
}

.nave-head {

}

.menu-for-ham {
    float: right;
    display: inline;
    direction: rtl;
    margin: 0;
    padding: 0;
}

.menu-for-ham .ham-img {
    height: 32px;
    width: 42px;
    display: block;
}

.menu-for-ham li {
    list-style: none;
}

.menu-for-ham li ul {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background: rgba(195,195,195,0.9);
}

.menu-for-ham li ul li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-for-ham li ul li a {
    display: block;
    margin: 0 0;
    padding: 10px;
    font-family: 'Arvo', serif;
    text-decoration: none;
    color: rgba(244,67,54,0.9);
    border-bottom: 1px solid #000;
}

.menu-for-ham li ul li a:hover{
    background: rgba(195,195,195,1);
    color: rgba(244,67,54,1);
    font-size: 1.1em;
}

.menu-for-ham li:hover > ul {
    display: block;

}


/*########################################### ===> SECTION tow-main-imags <===== ######### */


/* @@@@@   @@@@     NO CHANGES @@@@@@*/



/*########################################### ===> SECTION THE MENU <===== ######### */


.the-menu > button{

    width: 70%;
    margin-left: 15%;
    font-size: 0.85em;
}


/*########################################### ===> SECTION FEATURED DISHES <===== ######### */

.featured-dishes > div  > div{
    display: block;
    width: 100%;
    margin: 5px auto;
    -webkit-box-sizing: border-box;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
    clear: both;
}

.featured-dishes > div  > div .only-for-extra-small-dev{

    border: none;

}


.featured-dishes div div img{
    width: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.featured-dishes > div > div > span{
    display: none;
}

.featured-dishes > div > div > span + span{
    display: none;
}

.featured-dishes > div  > div > div{
    display: block;
    float: right;
}

.featured-dishes > div  > div > div p{
    font-size: 0.85em;
    margin: 0;
}

.featured-dishes > div  > div > div p + p{
    font-size: 0.85em;
    margin-top: 10px;
}


/*########################################### ===> SECTION THE GALLERY <===== ######### */




.the-gallery .the-gallery-div img{
    width: 50%;
    height: 150px;
    float: left;
}

.the-gallery .the-gallery-div  #gallery-img1{
    display: none;
}


/*########################################### ===> SECTION THE FOOTER <===== ######### */

footer div {
    width: 100%;
    text-align: center;
}



footer .footer-1-ul , footer .footer-3-ul{
    float: none;
    margin-bottom: 45px;
}

footer .footer-logo-ul , footer .footer-2-ul{
    float: none;
}