

/*########################################### ===> SECTION HEADER START <===== ######### */

.header{
    margin: 15px 0;
}

.header header{
    width: 95%;
    margin: 0 auto;
}

.header .nave-head .normal-menu  li{
    margin-left: 12px;
}

.header .nave-head .normal-menu  li a{
    font-size: 0.85em;
}

/*########################################### ===> SECTION tow-main-imags <===== ######### */

/* @@@@@   @@@@     NO CHANGES @@@@@@*/


/*########################################### ===> SECTION THE MENU <===== ######### */

.the-menu{
    width: 95%;
}

.the-menu .left{
    width: 100%;
    overflow: hidden;
    margin:0 auto;
    padding: 0;

}

.the-menu .right{
    width: 100%;
    overflow: hidden;
    margin:0 ;
    padding: 0;
}

/*########################################### ===> SECTION FEATURED DISHES <===== ######### */

.featured-dishes{
    width: 95%;
}




/*########################################### ===> SECTION THE GALLERY <===== ######### */

.the-gallery{
    width: 95%;
}

/*########################################### ===> SECTION THE FOOTER <===== ######### */
footer {

    padding: 70px 2.5%;

}

footer div ul li{
    font-size: 0.8em;
}

footer div ul li a{
    font-size: 1em;
}